<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <!-- mobile responsive meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
  <!-- Main Stylesheet -->
  <link href="css/style.css" rel="stylesheet">
</head>
<body>
<!-- about us -->
<section style="background-image: url(images/hero-area/banner-bg.png);">
  <div class="container">
    <div class="row">
      <div class="col-lg-12"  style="padding-top: 25px; text-align: center; font-size:100px">
        <b>ABOUT</b>  
      </div>    
      <div class="divider-custom divider-dark">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon" ><i class="fas fa-heart" style="font-size:48px;color:red;"></i></div>
            <div class="divider-custom-line"></div>
        </div>
      <div class="col-lg-12 mb-100" style="padding-top: 50px;"><h5>
        <p>Hi there, my name is Vikram Patel. I love to create beautiful and efficient websites for my customers. I love going through the entire process with the customer from concept, to design and then development as well as deployment.</p>
        <p>I have completed the Batchelor of Information and Technology engineering at Sankalchand Patel University and I am currently enrolled in the Mobile Solutions Development course at Conestoga College.</p>
        <p>I can code my own designs and I can use the customer's design as a base. My focus is to generate clean code which is well structured for reliability.</p>
        <p>If you’re looking for a developer who can complete the project, I may be the person who can do it. And if you’re looking for a developer who puts detailed thought into the project and works with an ownership mindset, then definitely I am the person for that work.</p></h5>
      </div>
    </div>
  </div>    
  <!-- background shapes -->
  <img src="images/background-shape/green-dot.png" alt="background-shape">
  <img src="images/background-shape/blue-dot.png" alt="background-shape">
  <img src="images/background-shape/green-half-cycle.png" alt="background-shape">
  <img src="images/background-shape/seo-ball-1.png" alt="background-shape">
  <img src="images/background-shape/team-bg-triangle.png" alt="background-shape">
  <img src="images/background-shape/service-half-cycle.png" alt="background-shape">
</section>

<!-- footer -->
<footer class="footer-section footer" style="background-image: url(images/backgrounds/footer-bg.png);">
  <div class="container">
    <div class="row">
        <div >
        <h4 class="text-uppercase mb-2">Location</h4>
        <p class="lead mb-0"><b>
          Kitchener, Ontario, Canada
        </b></p>
      </div>
      <!-- footer social icon -->
      <nav class="col-lg-8 align-self-center mb-5">
        <ul class="list-inline text-lg-right text-center">
          <li class="list-inline-item">
            <a href="https://www.facebook.com/profile.php?id=100013164576452">
            <img src="/images/icons/facebook.png">
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://twitter.com/VikramP65519337">
                <img src="/images/icons/twitter.png">
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.linkedin.com/in/vikram-patel-70b88921b/">
                 <img src="/images/icons/linkedin.png">
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://github.com/vikrampatel7936">
                 <img src="/images/icons/github.png">
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</footer>
</body>
</html>