<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <!-- mobile responsive meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!-- Main Stylesheet -->
  <link href="css/style.css" rel="stylesheet">
</head>
<body>
<!-- contact -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center" style="font-size: 70px;">
               <b>Contact Me</b>
            </div>
        </div>
        <div class="row contact-bg p-5 rounded mb-5">
            <div class="col-lg-7 mb-4 mb-lg-0">
                <form action="#">
                    <input type="text" class="form-control mb-3" id="name" name="name" placeholder="Your Name">
                    <input type="email" class="form-control mb-3" id="mail" name="mail" placeholder="Your Email">
                    <input type="text" class="form-control mb-3" id="subject" name="subject" placeholder="Subject">
                    <textarea name="message" id="message" class="form-control mb-3" placeholder="Your Message"></textarea>
                    <button type="submit" value="send" class="btn btn-secondary">SEND MESSAGE</button>
                </form>
            </div>
            <div class="col-lg-5">
                <p class="mb-5">If you'll like to know more about my experience, designing and delivering solutions, or get advice on your own technology challenges get in touch. With dedicated engineers on-hand 24/7,I am set up to become an extension of your team.</p>
                <a href="mailto:vpatel6508@conestogac.on.ca" class="mb-5 text-color h5 d-block">vpatel6508@conestogac.on.ca</a>
                <p>132 kehl Street<br>Kitchener N2M 3V2 Ontario Canada</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <div class="card p-4 border-blue">
                    <h5> Help & Support</h5>
                    <p>Feel free to contact me at anytime and I will surly help you as soon as possible </p>
                </div>
            </div>
        </div>
    </div>
    <!-- background shapes -->
    <img src="images/background-shape/feature-bg-2.png" alt="background-shape">
    <img src="images/background-shape/green-half-cycle.png" alt="background-shape">
    <img src="images/background-shape/green-dot.png" alt="background-shape">
    <img src="images/background-shape/service-half-cycle.png" alt="background-shape">
    <img src="images/background-shape/feature-bg-2.png" alt="background-shape">
</section>
<!-- footer -->
<footer class="footer-section footer" style="background-image: url(images/backgrounds/footer-bg.png);">
  <div class="container">
    <div class="row">
        <div >
        <h4 class="text-uppercase mb-2">Location</h4>
        <p class="lead mb-0"><b>
          Kitchener, Ontario, Canada
        </b></p>
      </div>
      <!-- footer social icon -->
      <nav class="col-lg-8 align-self-center mb-5">
        <ul class="list-inline text-lg-right text-center">
          <li class="list-inline-item">
            <a href="https://www.facebook.com/profile.php?id=100013164576452">
            <img src="/images/icons/facebook.png">
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://twitter.com/VikramP65519337">
                <img src="/images/icons/twitter.png">
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.linkedin.com/in/vikram-patel-70b88921b/">
                 <img src="/images/icons/linkedin.png">
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://github.com/vikrampatel7936">
                 <img src="/images/icons/github.png">
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</footer>
<!-- /footer -->
</body>
</html>